body {
    overflow: hidden;
}
.content-wrapper {
    max-width: 600px;
    margin: auto;
    border: black 1px solid;
}

#header {
    text-align: center;
}

.hole-container {
    grid-row-start: 1;
    grid-column-start: 1;
}

.svg-container {
  display: grid;
  grid-template-rows: 1fr;
}

.svg-container .hole-container:not(:first-child) {
    /* transform: translateX(1000px); */
    /* opacity: 0; */
}

.svg-container, .hole-info {
    width: 90%;
    margin: auto;
}

.hole-info {
    font-family: 'Staatliches', cursive;
}

.hole-svg {
    background-image: linear-gradient(#71c0d2, white);
    border: black 1px solid;
}

.ground-line {
    stroke:rgb(32, 122, 7);
    stroke-width:5;
}

.circle-boundaries {
    stroke:black;
    stroke-width:3;
}

#strokes path {
    stroke: orange;
    fill: none;
    stroke-width:4;
}

.pin {
    stroke:black;
    stroke-width:2;
    fill:red;
}

.score-name {
    opacity: 0;
    text-align: center;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    margin: 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.align-left {
	float: left;
}
.align-right {
	float: right;
}

p {
    margin: 0;
    font-size: 25px;
}